<div class="col-md-6" class="bg-image" style="
height: 90vh;
width: auto;
">
    <div class="container">
        <button routerLink="/" class="btn btn-info">Continue Shopping</button>
        <h4 style="text-align: center;">Customer Order Placed Successfully</h4>
        <div class="dropdown-divider"></div>
        <div>
            OrderId : {{orderDetail.orderId}}
        </div>
        <div>
            Name : &nbsp; {{customer.userFirstName}}&nbsp;{{customer.userLastName}}
        </div>
        <div>
            Email : &nbsp; {{customer.userEmail}}
        </div>
        <div>
            Delivery Address : &nbsp; {{orderDetail.address.houseNum}} &nbsp; {{orderDetail.address.streetName}}
            <br/> &nbsp; {{orderDetail.address.city}}&nbsp; {{orderDetail.address.pincode}}
            <br/> &nbsp; {{orderDetail.address.state.stateName}}&nbsp; {{orderDetail.address.country.countryName}}
        </div>
        <div>
            Quantity : &nbsp; {{orderDetail.quantity}}
        </div>
        <div>
            Total Paid : &nbsp; {{orderDetail.total}}
        </div>
    </div>
</div>