img {
    height: 250px;
    width: 100%;
    padding: 10px;
}

div [class^="col-"] {
    padding: 20px;
}

.card {
    transition: 0.5s;
    cursor: pointer;
}

.card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
}

.bg-style {
    background-color: rgb(220, 233, 34);
}

.card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710
}

.card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
    height: 40px;
}

.card::before,
.card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
}

.card::before {
    transform-origin: left top;
}

.card::after {
    transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
    transform: scale3d(1, 1, 1);
}

h4 {
    padding: 10px 15px 0px 15px;
}

.user-style1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.user-style2 {
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
}

.span1 {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
}

.span2 {
    background-color: green;
    padding: 5px;
    font-size: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: black;
}

a {
    font-size: 18px;
    text-decoration: none;
}