<div *ngIf="!hideSuccessMessage">
    <div class="col-12">
        <div class="container">
            <p class="alert alert-success">
                Total Item added {{quantity}} Now the total amount is {{total}}
            </p>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="text-center mb-2">
        <h5 class="card-title user-style1">Eat what makes you happy</h5>
        <p class="card-text user-style2">Welcome to {{decision | titlecase}} Restaurant</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3" *ngFor=" let obj of menuList ">
            <div class="card card-block ">
                <h4 class="card-title text-right "><i class="material-icons ">{{obj.restaurant.resName}}</i></h4>
                <img src="{{obj.imageURL}} " alt="Photo of sunset ">
                <div class="card-body">
                    <h5 class="card-title mt-3 mb-3">{{obj.foodName}} • ₨.{{obj.foodPrice}}</h5>
                    <button class="btn btn-info" (click)="addToCart(obj)">
                    Add to cart 
                     <i class="fa fa-shopping-cart " style="font-size:20px ;color:white ">
                    </i></button>
                    <button style="margin-left: 5px; " class="btn btn-success " (click)="openMat(obj) ">
                        View Details
                        </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal -->
<div class=" modal " tabindex="-1 " role="dialog " [ngStyle]="{ 'display':display} ">
    <!-- modal-dialog -->
    <div class="modal-dialog " role="document ">
        <!-- modal-content -->
        <div class="modal-content ">
            <!-- modal-header -->
            <div class="modal-header ">
                <h4 class="modal-title ">Menu Detailed Description</h4>
            </div>

            <!-- modal-body -->
            <div class="modal-body ">
                <!--content of main-->
                <table class="table table-hover ">
                    <thead>
                        <!--header row-->
                    </thead>
                    <tbody>
                        <tr>
                            <td>Restaurant Name</td>
                            <td>{{matDisplay.restaurant.resName}}</td>
                        </tr>
                        <tr>
                            <td>Restaurant Location</td>
                            <td>{{matDisplay.restaurant.resLocation}}</td>
                        </tr>
                        <tr>
                            <td>Food Name</td>
                            <td>{{matDisplay.foodName}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{matDisplay.foodCategory}}</td>
                        </tr>
                        <tr>
                            <td>Food Price</td>
                            <td>{{matDisplay.foodPrice}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>


            <!-- modal-footer -->
            <div class="modal-footer ">
                <button type="button " class="btn btn-primary " (click)="closeMat() ">Close</button>
            </div>
        </div>
    </div>
</div>