<nav class="navbar navbar-expand-lg navbar-light bg-style">
    <a class="navbar-brand" href="#">RESTEASY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Available Restaurant
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <div *ngFor="let rest of res">
                        <a class="dropdown-item" routerLink="{{rest.resName}}">{{rest.resName | titlecase}}</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div style="margin:7px;" *ngIf="customer.userId!=0">
            <i routerLink="cart" class="bi bi-cart">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg></i>
        </div>

        <div class="col-12 col-lg-auto mb-2 mb-lg-0" style="margin-right: 5px;">
            <input type="search" class="form-control" name="searchElement" [(ngModel)]="searchElement" placeholder="Search..." aria-label="Search">
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-light text-dark me-2" (click)="performSearch()">Search</button>
        </div>
        <span *ngIf="customer.userId!=0" style="padding: 0px 2px 0px 2px;">Hi&nbsp;{{customer.userFirstName}}&nbsp;{{customer.userLastName}}</span>
        <div *ngIf="logoutTitle!=''">
            <button type="button" class="btn btn-default btn-space navbar-btn navbar-right" (click)="showDefault()">{{logoutTitle}}</button>
        </div>
        <div *ngIf="loggingTitle!=''">
            <button type="button" class="btn btn-default btn-space navbar-btn navbar-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop">{{loggingTitle}}</button>
        </div>
        <div *ngIf="loggingTitle!=''">
            <button type="button" class="btn btn-default btn-space navbar-btn navbar-right" data-bs-toggle="modal" data-bs-target="#exampleModal">{{createAccount}}</button>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Login Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="loginValidater()" ngNativeValidate>
                    <div class="form-group">
                        <label for="email">EMAIL:</label>
                        <input id="email" required pattern="[a-z0-9._%+-]+@[a-z]+\.[a-z]{2,4}$" name="email" type="text" class="form-control" [(ngModel)]="email" #emailProperty="ngModel" placeholder="ENTER EMAIL" />
                        <span class="help-block" *ngIf="emailProperty.errors && emailProperty.errors.required && emailProperty.touched">
                            Email is required</span>
                        <span class="help-block" *ngIf="emailProperty.errors && emailProperty.errors.pattern && emailProperty.touched">
                                Email is Invalid</span>
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD:</label>
                        <input id="password" required name="password" type="password" class="form-control" [(ngModel)]="password" #passwordProperty="ngModel" placeholder="ENTER PASSWORD" />
                        <span class="help-block" *ngIf="passwordProperty.invalid && passwordProperty.touched">
                            Password is required</span>
                    </div>
                    <span *ngIf="validationError=='User not Found' || validationError=='UserName and Password are incorrect'">
                    {{validationError}}
                    </span>
                    <div *ngIf="validationError=='Successfully logged in'">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Validated Successfully</button>
                    </div>
                    <div class="modal-footer" *ngIf="validationError!='Successfully logged in'">
                        <button type="submit" class="btn btn-primary" [disabled]="emailProperty.invalid || password==''">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #customerForm="ngForm" (ngSubmit)="saveCustomer(customer)" ngNativeValidate>
                    <div class="form-group">
                        <label for="firstName">FIRST NAME:</label>
                        <input id="firstName" required name="customer.userFirstName" type="text" class="form-control" [(ngModel)]="customer.userFirstName" #firstNameProperty="ngModel" placeholder="ENTER FIRSTNAME" />
                        <span class="help-block" *ngIf="firstNameProperty.invalid && firstNameProperty.touched">
                            First Name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="lastName">LAST NAME:</label>
                        <input id="lastName" required name="customer.userLastName" type="text" class="form-control" [(ngModel)]="customer.userLastName" #lastNameProperty="ngModel" placeholder="ENTER LASTNAME" />
                        <span class="help-block" *ngIf="lastNameProperty.invalid && lastNameProperty.touched">
                            Last Name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="email">EMAIL:</label>
                        <input id="email" required pattern="[a-z0-9._%+-]+@[a-z]+\.[a-z]{2,4}$" name="customer.userEmail" type="text" class="form-control" [(ngModel)]="customer.userEmail" #useremailProperty="ngModel" placeholder="ENTER EMAIL" />
                        <span class="help-block" *ngIf="useremailProperty.errors && useremailProperty.errors.required && useremailProperty.touched">
                            Email is required</span>
                        <span class="help-block" *ngIf="useremailProperty.errors && useremailProperty.errors.pattern && useremailProperty.touched">
                                Email is Invalid</span>
                    </div>
                    <div class="form-group">
                        <label for="password">PASSWORD:</label>
                        <input id="password" required name="customer.password" type="password" class="form-control" [(ngModel)]="customer.password" #pswdProperty="ngModel" placeholder="ENTER PASSWORD" />
                        <span class="help-block" *ngIf="pswdProperty.invalid && pswdProperty.touched">
                            Password is required</span>
                    </div>
                    <div *ngIf="validity!=false">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Welcome to RESTEASY</button>
                    </div>
                    <div class="panel-footer" *ngIf="validity==false">
                        <button type="submit" class="btn btn-primary" [disabled]="customerForm.invalid">Register</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
&nbsp;

<router-outlet></router-outlet>