<!-- footer -->
<footer class="bg-style">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 text-center text-md-left ">

                <div class="py-0">
                    <h3 class="my-4 text-white">About<span class="mx-2 font-italic text-warning ">SiLvEr SwOrDz</span></h3>

                    <p class="footer-links font-weight-bold">
                        <a class="text-white" href="#">Home</a> |
                        <a class="text-white" href="#">Blog</a> |
                        <a class="text-white" href="#">About</a> |
                        <a class="text-white" href="#">Contact</a>
                    </p>
                    <p class="text-light py-4 mb-4">&copy;2021 Silver Swordz Learning Solutions Pvt. Ltd.</p>
                </div>
            </div>

            <div class="col-md-4 text-white text-center text-md-left ">
                <div class="py-2 my-4">
                    <div>
                        <p class="text-white"> <i class="fa fa-map-marker mx-2 "></i> No. 30, 34, 35 & 38, Tower H08, Avance Business Hub, SEZ, Hitech City 2, Madhapur, Hyderabad - 500081</p>
                    </div>

                    <div>
                        <p><i class="fa fa-phone  mx-2 "></i> 040 3094 1000</p>
                    </div>
                    <div>
                        <p><i class="fa fa-envelope  mx-2"></i><a href="#">support@silverswordz.com</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 text-white my-4 text-center text-md-left ">
                <span class=" font-weight-bold ">About the Company</span>
                <p class="text-warning my-2">By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2021</p>
                <div class="py-2">
                    <a href="#"><i class="fab fa-facebook fa-2x text-primary mx-3"></i></a>
                    <a href="#"><i class="fab fa-google-plus fa-2x text-danger mx-3"></i></a>
                    <a href="#"><i class="fab fa-twitter fa-2x text-warning mx-3"></i></a>
                    <a href="#"><i class="fab fa-youtube fa-2x text-danger mx-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer -->