<div class="container">
    <form (ngSubmit)="loginValidate()" ngNativeValidate>

        <div class="form-group">
            <label for="email">EMAIL:</label>
            <input id="email" required pattern="[a-z0-9._%+-]+@[a-z]+\.[a-z]{2,4}$" name="email" type="text" class="form-control" [(ngModel)]="email" #emailProperty="ngModel" placeholder="ENTER EMAIL" />
            <span class="help-block" *ngIf="emailProperty.errors && emailProperty.errors.required && emailProperty.touched">
                            Email is required</span>
            <span class="help-block" *ngIf="emailProperty.errors && emailProperty.errors.pattern && emailProperty.touched">
                                Email is Invalid</span>
        </div>

        <div class="form-group">
            <label for="password">PASSWORD:</label>
            <input id="password" required name="password" type="password" class="form-control" [(ngModel)]="password" #passwordProperty="ngModel" placeholder="ENTER PASSWORD" />
            <span class="help-block" *ngIf="passwordProperty.invalid && passwordProperty.touched">
                            Password is required</span>
        </div>
        <span *ngIf="validationError=='User not Found' || validationError=='UserName and Password are incorrect'">
                    {{validationError}}
                    </span>
        <div class="modal-footer" *ngIf="validationError!='Successfully logged in'">
            <button type="submit" class="btn btn-primary" [disabled]="emailProperty.invalid || password==''">Login</button>
        </div>

    </form>
</div>