.navbar-custom {
    color: #CC3333;
    background-color: #9132a8;
}

.btn-space {
    margin-right: 10px;
}

.navbar-brand {
    color: green;
    font-size: 30px;
    font-family: "candara";
}

a:hover {
    color: white;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.nav-link {
    color: #FFFFFF;
}

.bgcolor {
    background-color: black;
}

.span1 {
    background-color: darkblue;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-decoration: none;
}

.span2 {
    background-color: white;
    padding: 5px;
    font-size: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: black;
}

input[type=text],
[type=email],
[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

.help-block {
    font-size: 10px;
    color: red;
}

.bg-style {
    background: rgb(16, 215, 241);
}