<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="container">
                <h4>Customer</h4>
                <div class="dropdown-divider"></div>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input id="firstName" readonly name="customer.userFirstName" type="text" class="form-control" [value]="customer.userFirstName" />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input id="lastName" readonly name="customer.userLastName" type="text" class="form-control" [value]="customer.userLastName" />
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input id="email" readonly name="customer.userEmail" type="text" class="form-control" [value]="customer.userEmail" />
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <h4>Shipping Address</h4>
                <div class="dropdown-divider"></div>
                <form #addressForm="ngForm" ngNativeValidate>
                    <div class="form-group">
                        <label for="houseNum">Street *</label>
                        <input id="houseNum" required name="address.houseNum" type="text" class="form-control" [(ngModel)]="address.houseNum" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="streetName">Street *</label>
                        <input id="streetName" required name="address.streetName" type="text" class="form-control" [(ngModel)]="address.streetName" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="city">City *</label>
                        <input id="city" required name="address.city" type="text" class="form-control" [(ngModel)]="address.city" placeholder="" />
                    </div>
                    <div class="form-group">
                        <label for="pincode">Pin Code *</label>
                        <input id="pincode" required name="address.pincode" type="text" class="form-control" [(ngModel)]="address.pincode" placeholder="000 000" />
                    </div>
                    <div class="form-group" id="style">
                        <label> State *</label>
                        <select class="form-control" id="stateList" name="state" [(ngModel)]="selectedstate" required>
                        <option>--select the state--</option>
                        <option *ngFor="let state of stateList">{{state.stateName}}</option>
                </select>
                    </div>
                    <div class="form-group" id="style">
                        <label> Country *</label>
                        <select class="form-control" id="countryList" name="country" [(ngModel)]="selectedcountry" required>
                        <option>--select the country--</option>
                        <option *ngFor="let country of countryList">{{country.countryName}}</option>
                </select>
                    </div>
                    <button class="btn btn-primary" type="button" [disabled]="addressForm.invalid" (click)="saveChanges()">Save</button>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container">
                <h4>Payment Details</h4>
                <div class="dropdown-divider"></div>
                <div class="payment-info">
                    <div class="d-flex justify-content-between align-items-center"><span>Card details</span></div>
                    <label class="radio"> <input type="radio" name="payment.cardType" [(ngModel)]="payment.cardType" [value]="visa"> <span><img width="30" src="assets/images/cardtype/visa.jpg" /></span> </label>
                    <label class="radio"> <input type="radio" name="payment.cardType" [(ngModel)]="payment.cardType" [value]="master"> <span><img width="30" src="assets/images/cardtype/mastercard.jfif" /></span> </label>
                    <div><label class="credit-card-label">Name on card</label><input type="text" name="payment.nameHolder" [(ngModel)]="payment.nameHolder" class="form-control credit-inputs" placeholder="Name"></div>
                    <div><label class="credit-card-label">Card number</label><input type="text" name="payment.cardNum" [(ngModel)]="payment.cardNum" class="form-control credit-inputs" placeholder="0000 0000 0000 0000"></div>
                    <div class="row">
                        <div class="col-md-3"><label class="credit-card-label">Month</label><input type="text" name="payment.month" [(ngModel)]="payment.month" class="form-control credit-inputs"></div>
                        <div class="col-md-3"><label class="credit-card-label">Year</label><input type="text" name="payment.year" [(ngModel)]="payment.year" class="form-control credit-inputs"></div>
                        <div class="col-md-6"><label class="credit-card-label">CVV</label><input type="password" name="payment.securityCode" [(ngModel)]="payment.securityCode" class="form-control credit-inputs" placeholder="342"></div>
                    </div>
                    <hr class="line">
                    <div class="d-flex justify-content-between information"><span>Total Quantity</span><span>{{orderDetails.quantity}}&nbsp; Items</span></div>
                    <div class="d-flex justify-content-between information"><span>Total(Incl. taxes)</span><span>Rs.{{orderDetails.total}}</span></div>
                    <button class="btn btn-primary btn-block d-flex justify-content-between mt-3" (click)="addToOrder()" type="button"><span></span><span>Checkout<i class="fa fa-long-arrow-right ml-1"></i></span></button>
                </div>
            </div>
            <div class="container" *ngIf="buttonDisplay!=false">
                <button class="btn btn-primary btn-block d-flex justify-content-between mt-3" routerLink="trackOrder" type="button"><span></span><span>Track Order<i class="fa fa-long-arrow-right ml-1"></i></span></button>
            </div>
        </div>
    </div>
</div>