<div class="container mt-2">
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
    <div class="row">
        <div class="col-sm-6 col-md-3" *ngFor=" let obj of menuList ">
            <div class="card card-block ">
                <h4 class="card-title text-right "><i class="material-icons ">{{obj.restaurant.resName}}</i></h4>
                <img src="{{obj.imageURL}} " alt="Photo of sunset ">
                <div class="card-body ">
                    <h5 class="card-title mt-3 mb-3">{{obj.foodName}} • ₨.{{obj.foodPrice}}</h5>
                    <!-- <p class="card-text ">{{obj.content}}</p>-->
                    <button class="btn btn-info" (click)="addToCart(obj)">
                    Add to cart 
                     <i class="fa fa-shopping-cart " style="font-size:20px ;color:white ">
                    </i></button>
                    <!-- <button style="margin-left: 5px; " class="btn btn-success " (click)="openMat(obj) ">
                        View Details
                        </button>-->
                </div>
            </div>
        </div>
    </div>
</div>