<div class="container mt-5 p-3 rounded cart">
    <div class="row no-gutters">
        <div class="col-md-4">

            <div class="container">
                <h4>Register Restaurant</h4>
                <div class="dropdown-divider"></div>
                <form #resForm="ngForm" (ngSubmit)="addRestaurant()" ngNativeValidate>
                    <div class="form-group">
                        <label for="resName">RESTAURANT NAME:</label>
                        <input id="resName" required name="res.resName" type="text" class="form-control" [(ngModel)]="res.resName" #resNameProperty="ngModel" placeholder="ENTER RESTAURANT NAME" />
                        <span class="help-block" *ngIf="resNameProperty.invalid && resNameProperty.touched">
            Name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="resLocation">RESTAURANT LOCATION:</label>
                        <input id="resLocation" required name="res.resLocation" type="text" class="form-control" [(ngModel)]="res.resLocation" #resLocationProperty="ngModel" placeholder="ENTER RESTAURANT LOCATION" />
                        <span class="help-block" *ngIf="resLocationProperty.invalid && resLocationProperty.touched">
            Last Name is required</span>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="resForm.invalid">Register Restaurant</button>
                    </div>
                </form>
                <br/>
                <div *ngIf="res.resId!=0">
                    <h4>Restaurant Added</h4>
                    <table class="table table-hover ">
                        <thead>
                            <!--header row-->
                            <tr>
                                <th>Field </th>
                                <th>value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Restaurant Name</td>
                                <td>{{res.resName}}</td>
                            </tr>
                            <tr>
                                <td>Restaurant Location</td>
                                <td>{{res.resLocation}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="container">
                <h4>Add Food</h4>
                <div class="dropdown-divider"></div>
                <form #foodForm="ngForm" (ngSubmit)="addFood()" ngNativeValidate>
                    <div class="form-group" id="style">
                        <label> Restaurant</label>
                        <select class="form-control" id="resList" name="rest" [(ngModel)]="selectedRestaurant" required>
                        <option>--select the Restaurant--</option>
                        <option *ngFor="let rest of resList">{{rest.resName}}</option>
                </select>
                    </div>
                    <div class="form-group">
                        <label for="resName">FOOD NAME:</label>
                        <input id="resName" required name="food.foodName" type="text" class="form-control" [(ngModel)]="food.foodName" #foodNameProperty="ngModel" placeholder="ENTER FOOD NAME" />
                        <span class="help-block" *ngIf="foodNameProperty.invalid && foodNameProperty.touched">
            Name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="resLocation">FOOD CATEGORY:</label>
                        <input id="resLocation" required name="food.foodCategory" type="text" class="form-control" [(ngModel)]="food.foodCategory" #foodCategoryProperty="ngModel" placeholder="ENTER FOOD CATEGORY" />
                        <span class="help-block" *ngIf="foodCategoryProperty.invalid && foodCategoryProperty.touched">
            Last Name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="resLocation">FOOD PRICE:</label>
                        <input id="resLocation" required name="food.foodPrice" type="text" class="form-control" [(ngModel)]="food.foodPrice" #foodPriceProperty="ngModel" placeholder="ENTER FOOD PRICE" />
                        <span class="help-block" *ngIf="foodPriceProperty.invalid && foodPriceProperty.touched">
            Last Name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="imageURL">PHOTO_PATH</label>
                        <input type="text" required name="food.imageURL" class="form-control" [(ngModel)]="food.imageURL">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" (click)="displayImage()">
                            {{photoPreview ? "Hide" : "show" }}Preview
                        </button>
                    </div>
                    <div class="form-group">
                        <img [src]="food.imageURL" height="300px" width="300px" *ngIf="photoPreview" />
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary" [disabled]="foodForm.invalid">Add Food</button>
                    </div>
                </form>
                <br/>
            </div>

        </div>

        <div class="col-md-4">
            <div class="container">
                <div *ngIf="msg!=''">
                    <h4>Restaurant Added</h4>
                    <table class="table table-hover">
                        <thead>
                            <!--header row-->
                            <tr>
                                <th>Field </th>
                                <th>value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Food Id</td>
                                <td>{{food.foodId}}</td>
                            </tr>
                            <tr>
                                <td>Food Name</td>
                                <td>{{food.foodName}}</td>
                            </tr>
                            <tr>
                                <td>Food Price</td>
                                <td>{{food.foodPrice}}</td>
                            </tr>
                            <tr>
                                <td>Restaurant Name</td>
                                <td>{{food.restaurant.resName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>